[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipdb = "*"
flake8 = "*"

[packages]
dask = "*"
distributed = "*"
tornado = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"
pandas = "*"
"boto3" = "*"
"psycopg2" = "*"
scipy = "*"
keras = "*"
python-dotenv = "*"
sklearn = "*"
plotly = "*"
cloudpickle = "*"
seaborn = "*"
ptitprince = {git = "https://github.com/pog87/PtitPrince"}
jsonlines = "*"
lightgbm = "*"
xgboost = "*"
pyarrow = "*"
"autopep8" = "*"
tensorflow-gpu = "*"
torch = "==0.4.1"
torchvision = "*"
opencv-python = "*"
opencv-contrib-python = "*"
dlib = "*"
gensim = "*"
spacy = "*"

[requires]
python_version = "3.6"
