aquirdturtle-collapsible-headings==3.1.0
awscli==1.22.82
bayesian-optimization==1.2.0
black==22.1.0
nb-black==1.0.7
boto3==1.21.27
click==8.0.4
coloredlogs==15.0.1
dask[complete]==2022.3.0
dask-labextension==5.2.0
dask-ml==2022.1.22
dvc==2.9.5
flake8==4.0.1
graphviz==0.19.1
ipdb==0.13.9
ipython==8.1.1
isort==5.10.1
jsonlines==3.0.0
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
jupyterlab==3.3.2
lightgbm==3.3.2
line-profiler==3.5.0
matplotlib==3.5.1
mlflow==1.24.0
more-itertools==8.12.0
mypy==0.942
notebook==6.4.10
numpy==1.21.5
pandas==1.4.1
plotly==5.6.0
pluggy==1.0.0
psycopg==3.0.10
pyarrow==7.0.0
pytest==7.1.1
python-dotenv==0.20.0
pytictoc==1.5.2
s3fs==0.4.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
shap==0.40.0
snakeviz==2.1.1
Sphinx==4.4.0
SQLAlchemy==1.4.32
statsmodels==0.13.2
streamlit==1.8.0
tqdm==4.63.1
types-bleach==4.1.5
types-boto==2.49.10
types-cachetools==5.0.0
types-certifi==2021.10.8.1
types-click==7.1.8
types-colorama==0.4.9
types-cryptography==3.3.18
types-decorator==5.1.4
types-docutils==0.18.0
types-Flask==1.1.6
types-futures==3.3.8
types-itsdangerous==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-mypy-extensions==0.4.14
types-Pillow==9.0.8
types-protobuf==3.19.15
types-python-dateutil==2.8.10
types-python-slugify==5.0.3
types-pytz==2021.3.6
types-PyYAML==6.0.5
types-requests==2.27.14
types-six==1.16.12
types-tabulate==0.8.6
types-toml==0.10.4
types-tornado==5.1.1
types-tzlocal==4.1.0
types-urllib3==1.26.11
types-Werkzeug==1.0.9
xarray==2022.3.0
xgboost==1.5.2
