aquirdturtle-collapsible-headings==3.1.0
awscli==1.19.49
bayesian-optimization==1.2.0
black==21.5b2
boto3==1.17.49
click==7.1.2
coloredlogs==15.0
dask[complete]==2021.6.0
dask-cloudprovider[aws]==2021.3.1
dask-labextension==5.0.2
dask-ml==1.9.0
dvc==2.4.1
flake8==3.9.2
graphviz==0.16
ipdb==0.13.9
ipython==7.24.1
isort==5.8.0
jsonlines==2.0.0
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
jupyterlab==3.0.17
lightgbm==3.2.1
line-profiler==3.3.0
matplotlib==3.4.2
mlflow==1.23.1
more-itertools==8.8.0
mypy==0.812
notebook==6.4.1
numpy==1.20.3
pandas==1.2.4
plotly==4.14.3
pluggy==0.13.1
psycopg2==2.8.6
pyarrow==4.0.1
pytest==6.2.4
python-dotenv==0.17.1
pytictoc==1.5.2
s3fs==2021.6.0
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
shap==0.39.0
snakeviz==2.1.0
Sphinx==4.0.2
SQLAlchemy==1.4.18
statsmodels==0.12.2
streamlit==0.82.0
tqdm==4.61.0
xarray==0.18.2
xgboost==1.4.2
