[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
pytest = "*"

[packages]
autopep8 = "*"
boto3 = "*"
cloudpickle = "*"
dask = "*"
distributed = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jsonlines = "*"
lightgbm = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
psycopg2 = "*"
pyarrow = "*"
python-dotenv = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
tornado = "*"
xgboost = "*"
coloredlogs = "*"
black = "*"
ipdb = "*"

[requires]
python_version = "3.6"
